.table-condensed
    thead
        &>tr
            display: flex
            flex-direction: row
            justify-content: space-around
            align-items: center
            .dow
                font-size: 0.8rem
                margin-top: 1rem
                padding-bottom: 0.4rem
    tbody
        &>tr
            display: flex
            flex-direction: row
            justify-content: space-around
            align-items: center

.table-mobile
    tbody
        background: $light
