html
    font-size: $font-size

body
    font-family: $font-family
    overflow-x: hidden

a
    color: $primary
    -webkit-tap-highlight-color: $active
    &:hover
        color: $primary

.row
    &.row-padding-10
        margin-left: -5px !important
        margin-right: -5px !important
        .col
            padding-left: 5px !important
            padding-right: 5px !important

.logo
    position: absolute
    width: 100%
    top: 0
    left: 0
    text-align: center
    margin-top: 20px
    img
        max-width: 200px
        width: 200px

.bg-gray
    transition: all 0.15s ease-in-out
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: -1
    background: $lightGray

.container
    max-width: 800px

.wrapper
    min-height: 100vh
    position: relative
    transition: all 0.12s ease-in-out
    left: 0

.content
    padding-top: 65px
    padding-bottom: 65px
    &.with-footer
        padding-bottom: 100px
    &.with-header
        padding-top: 140px

.content-footer
    position: absolute
    bottom: 30px
    left: 0
    right: 0
    width: 100%

.row
    margin-right: -5px
    margin-left: -5px
    > .col,
    > [class*="col-"]
        padding-right: 5px
        padding-left: 5px

.hide
    display: none