
@font-face {
  font-family: 'PTSans-Bold';
  src: url('PTSans-CaptionBold.eot?#iefix') format('embedded-opentype'),  
  url('PTSans-CaptionBold.woff') format('woff'), 
  url('PTSans-CaptionBold.ttf')  format('truetype'), 
  url('PTSans-CaptionBold.svg#PTSans-CaptionBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
