@font-face {
  font-family: 'PTSans-Regular';
  src: url('PTSans_regular/PTSans-Caption.eot?#iefix') format('embedded-opentype'),  
  url('PTSans_regular/PTSans-Caption.woff') format('woff'), 
  url('PTSans_regular/PTSans-Caption.ttf')  format('truetype'), 
  url('PTSans_regular/PTSans-Caption.svg#PTSans-Caption') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Bold';
  src: url('PTSans_bold/PTSans-CaptionBold.eot?#iefix') format('embedded-opentype'),
  url('PTSans_bold/PTSans-CaptionBold.woff') format('woff'),
  url('PTSans_bold/PTSans-CaptionBold.ttf')  format('truetype'),
  url('PTSans_bold/PTSans-CaptionBold.svg#PTSans-CaptionBold') format('svg');
  font-weight: normal;
  font-style: normal;
}